.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.prism {
  white-space: pre;
  font-family: Monaco, monospace;
  font-size: 13px;
  line-height: 20px;
  background-color: #f0f8ff;
  padding: 20px;
}

.page p {
  line-height: 22px;
}