
.prism {
  white-space: pre;
  font-family: Monaco, monospace;
  font-size: 13px;
  line-height: 20px;
  background-color: #f0f8ff;
  padding: 20px;
  overflow-x: auto;
}

.page p {
  line-height: 22px;
}